.card {
  width: 100%;

  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}
